<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="report.css">
    <title>Document</title>
</head>

<body>
    <div class="header-container">
        <div class="title-container">
            <p class="title-content">FLog Report</p>
        </div>
        <div class="info-container">
            <div class="time-container">
                <p class="time-text">
                    <b>From:</b> {{data.filterDate.fromDate}}</br>
                    <b>To:</b> {{data.filterDate.toDate}}
                </p>
            </div>
            <hr>
            <div class="log-path-container">
                <p class="log-path-title"><b>Log Path:</b></p>
                <ul class="path-log-list">
                    {% if data.pathLog.tomcatPath%}
                        <li>
                            <p><span><b>&nbsp;- Tomcat:</b></span>
                                {{data.pathLog.tomcatPath}}</p>
                        </li>
                    {% endif %}
                        {% if data.pathLog.apachePath%}
                        <li>
                            <p><span><b>&nbsp;- Apache:</b></span> {{data.pathLog.apachePath}}
                            </p>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <hr>
            <div class="victim-info-container">
                <p class="victim-machine-title"><b>Victim Machine:</b></p>
                <div class="victim-machine-info">
                    <p><span><b>- IP Address: </b></span>192.168.200.10</p>
                    <p><span><b>- Apache Tomcat version: </b></span>9.0.53</p>
                </div>
                <!-- <ul class="path-log-list">
                  <li>
                        <p><span><b>&nbsp;- IP Address: </b></span> 192.168.200.10
                        </p>
                    </li>
                    <li>
                        <p><span><b>&nbsp;- Apache Tomcat version: </b></span> 9.0.53
                        </p>
                    </li>
            
                </ul> -->
                <hr>
            </div>
        </div>

        <div class="overall-asessment-container">
            <p><b>Detected attack types:</b>
                {% if data.detectedAttackType%}
                {{", ".join(data.detectedAttackType)}}
                {% else %}
                No attack detected
                {% endif %}
            </p>
        </div>
    </div>

    <div class="body-container">
        <div class="body-titile-container">
            <!-- <hr> -->
            {% if data.detectedAttackType%}
                <h1 class="body-title">PoC</h1>
            {% else %}
                <h1 class="body-title">No attack detected</h1>
            {% endif %}
        </div>
        {% if 'Nmap scanning' in data.detectedAttackType%}
        <div class="analysis-section-container">
            <div class="analyze-info-container">
                <p class="analyze-label">Nmap Scanning</p>
                <p class="analyze-label">Signature Log: <span>{{data.nmapScan.signature}}</span></p>
            </div>
            {% if data.nmapScan.logDataTomcat %}
            <div class="log-area-container">
                <label for="">Tomcat</label>
                <textarea name="" id="" cols="30" rows="10" readonly>{{ data.nmapScan.logDataTomcat }}</textarea>
            </div>
            {% endif %}
            {% if data.nmapScan.logDataApache %}
            <div class="log-area-container">
                <label for="">Apache</label>
                <textarea name="" id="" cols="30" rows="10" readonly>{{ data.nmapScan.logDataApache }}</textarea>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% if 'Metasploit attack' in data.detectedAttackType%}
        <div class="analysis-section-container">
            <div class="analyze-info-container">
                <p class="analyze-label">Metasploit Attack</p>
                <p class="analyze-label">Signature Log: <span>{{data.metasploitAttack.signature}}</span></p>
            </div>
            {% if data.metasploitAttack.logDataTomcat %}
            <div class="log-area-container">
                <label for="">Tomcat</label>
                <textarea name="" id="" cols="30" rows="10"
                    readonly>{{ data.metasploitAttack.logDataTomcat }}</textarea>
            </div>
            {% endif %}
            {% if data.metasploitAttack.logDataApache %}
            <div class="log-area-container">
                <label for="">Apache</label>
                <textarea name="" id="" cols="30" rows="10" readonly>{{data.metasploitAttack.logDataApache}}</textarea>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% if 'Dirb brute force' in data.detectedAttackType%}
        <div class="analysis-section-container">
            <div class="analyze-info-container">
                <p class="analyze-label">Dirb Brute Force</p>
                <p class="analyze-label">Signature Log: <span>{{data.dirbBruteforce.signature}}</span></p>
            </div>
            {% if data.dirbBruteforce.logDataTomcat %}
            <div class="log-area-container">
                <label for="">Tomcat</label>
                <textarea name="" id="" cols="30" rows="10"
                    readonly>{{ data.dirbBruteforce.logDataTomcat }}</textarea>
            </div>
            {% endif %}
            {% if data.dirbBruteforce.logDataApache %}
            <div class="log-area-container">
                <label for="">Apache</label>
                <textarea name="" id="" cols="30" rows="10" readonly>{{data.dirbBruteforce.logDataApache}}</textarea>
            </div>
            {% endif %}
        </div>
        {% endif %}

        <div class="analysis-section-container">
            <div class="analyze-info-container">
                <p class="analyze-label">SQL injection</p>
                <p class="analyze-label">Signature Log: <span>" 'or 1=1 -- ", " UNION SELECT " and " SELECT * FROM
                        ".</span></p>
            </div>

            {% if data.pathLog.tomcatPath%}
            <div class="log-area-container">
                <label for="">Tomcat</label>
                <textarea name="" id="" cols="30" rows="10" readonly>
                    No detect attack
                </textarea>
            </div>
            {% endif %}

            {% if data.pathLog.apachePath%}
            <div class="log-area-container">
                <label for="">Apache</label>
                <textarea name="" id="" cols="30" rows="10" readonly>
                    No detect attack
                </textarea>
            </div>
            {% endif %}

        </div>

        <div class="analysis-section-container">
            <div class="analyze-info-container">
                <p class="analyze-label">XSS</p>
                <p class="analyze-label">Signature Log: <span>script + url , script + file</span></p>
            </div>
            
            {% if data.pathLog.tomcatPath%}
            <div class="log-area-container">
                <label for="">Tomcat</label>
                <textarea name="" id="" cols="30" rows="10" readonly>
                    No detect attack
                </textarea>
            </div>
            {% endif %}

            {% if data.pathLog.apachePath%}
            <div class="log-area-container">
                <label for="">Apache</label>
                <textarea name="" id="" cols="30" rows="10" readonly>
                    No detect attack
                </textarea>
            </div>
            {% endif %}

        </div>

        {% if data.dosAttack %}
        {% if data.dosAttack.tomcat or data.dosAttack.apache %}
        <div class="analysis-section-container">
            <div class="analyze-info-container">
                <p class="analyze-label">DoS</p>
                <p class="analyze-label">Signature Log: <span>The number of requests more than {{data.dosSignature.minimumRequest}} in {{data.dosSignature.duration}} minutes</span></p>
            </div>
            {% if data.dosAttack.tomcat %}
            <div class="dos-ip-container">
                <label for="">Tomcat</label>
                <table>
                    <tr>
                        <th>Time</th>
                        <th>IP</th>
                        <th>Number of requests</th>
                    </tr>

                    {% for data in data.dosAttack.tomcat %}
                    <tr>
                        <td>
                            <b>From:</b> {{data.timestamp}}</br>
                        </td>
                        <td>{{data.ip}}</td>
                        <td>{{data.count}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
            {% if data.dosAttack.apache %}
            <div class="dos-ip-container">
                <label for="">Apache</label>
                <table>
                    <tr>
                        <th>Time</th>
                        <th>IP</th>
                        <th>Number of requests</th>
                    </tr>

                    {% for data in data.dosAttack.apache %}
                    <tr>
                        <td>
                            <b>From:</b> {{data.timestamp}}</br>
                        </td>
                        <td>{{data.ip}}</td>
                        <td>{{data.count}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endif %}
    </div>
    <div class="footer-container">
        <div class="footer-content">
            <p class="tool-introduction">
                Flog v1.1.0</br>
                <span class="code-by">Coded by Nhất Lợi, Gia Thuận, Hoài Tân, Đức Dương, Duy Luân</span></br></br>
                It uses investigate what happened on a computer through viewing log files.</br>
                You can even use it to identify web attacks.
            </p>
        </div>
    </div>
</body>

</html>